@import "tailwindcss";
@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2000px);
  }
}
#stars1, #stars1::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 673px 1529px #fff,
    1160px 1784px #fff,
    86px 664px #fff,
    1147px 499px #fff,
    363px 1920px #fff,
    700px 310px #fff,
    1818px 1250px #fff,
    1161px 1547px #fff,
    720px 109px #fff,
    764px 1455px #fff,
    316px 641px #fff,
    632px 1955px #fff,
    15px 227px #fff,
    1282px 1581px #fff,
    538px 614px #fff,
    247px 11px #fff,
    1217px 1409px #fff,
    1651px 316px #fff,
    482px 1958px #fff,
    1346px 1744px #fff,
    1159px 1627px #fff,
    939px 1325px #fff,
    1684px 1369px #fff,
    1726px 1976px #fff,
    1703px 1083px #fff,
    926px 833px #fff,
    676px 69px #fff,
    383px 681px #fff,
    1466px 1013px #fff,
    424px 191px #fff,
    1575px 704px #fff,
    1397px 396px #fff,
    1584px 1788px #fff,
    1789px 1048px #fff,
    1139px 584px #fff,
    171px 1710px #fff,
    1457px 227px #fff,
    1759px 1403px #fff,
    1806px 279px #fff,
    1781px 1119px #fff,
    1838px 81px #fff,
    252px 1240px #fff,
    1017px 1003px #fff,
    588px 1740px #fff,
    945px 657px #fff,
    783px 354px #fff,
    1816px 155px #fff,
    1716px 937px #fff,
    199px 1855px #fff,
    680px 868px #fff,
    798px 1334px #fff,
    351px 677px #fff,
    1419px 929px #fff,
    375px 919px #fff,
    472px 451px #fff,
    336px 978px #fff,
    1637px 1877px #fff,
    982px 143px #fff,
    291px 1724px #fff,
    884px 1566px #fff,
    1992px 935px #fff,
    1800px 1076px #fff,
    1916px 22px #fff,
    29px 597px #fff,
    1368px 314px #fff,
    30px 1179px #fff,
    1201px 1147px #fff,
    1025px 1115px #fff,
    731px 87px #fff,
    1704px 645px #fff,
    9px 792px #fff,
    1698px 197px #fff,
    1585px 365px #fff,
    1658px 273px #fff,
    1231px 1930px #fff,
    898px 1004px #fff,
    579px 1331px #fff,
    1557px 1625px #fff,
    217px 1576px #fff,
    101px 1158px #fff,
    713px 781px #fff,
    1951px 1768px #fff,
    644px 1557px #fff,
    1922px 90px #fff,
    1343px 1512px #fff,
    1749px 1073px #fff,
    1346px 575px #fff,
    1653px 1364px #fff,
    635px 1426px #fff,
    1081px 1432px #fff,
    61px 170px #fff,
    1599px 238px #fff,
    726px 860px #fff,
    1153px 987px #fff,
    1266px 1438px #fff,
    1869px 886px #fff,
    248px 283px #fff,
    131px 591px #fff,
    1117px 1485px #fff,
    213px 1943px #fff,
    1195px 885px #fff,
    1432px 1986px #fff,
    1390px 183px #fff,
    1812px 1220px #fff,
    1663px 1785px #fff,
    1687px 1137px #fff,
    922px 1556px #fff,
    1913px 535px #fff,
    1209px 1868px #fff,
    692px 1397px #fff,
    244px 969px #fff,
    324px 1141px #fff,
    1697px 1656px #fff,
    265px 734px #fff,
    143px 340px #fff,
    1283px 835px #fff,
    1762px 754px #fff,
    1523px 237px #fff,
    266px 709px #fff,
    688px 1812px #fff,
    943px 1125px #fff,
    879px 1505px #fff,
    308px 1830px #fff,
    227px 940px #fff,
    1003px 653px #fff,
    1094px 130px #fff,
    98px 620px #fff,
    1277px 1912px #fff,
    734px 395px #fff,
    402px 810px #fff,
    1805px 1531px #fff,
    228px 1405px #fff,
    1409px 287px #fff,
    1201px 1663px #fff,
    1425px 1187px #fff,
    97px 203px #fff,
    1855px 89px #fff,
    709px 756px #fff,
    1655px 74px #fff,
    134px 1697px #fff,
    1099px 296px #fff,
    1395px 465px #fff,
    1590px 1132px #fff,
    1123px 267px #fff,
    1068px 642px #fff,
    239px 116px #fff,
    655px 919px #fff,
    1594px 1799px #fff,
    982px 15px #fff,
    19px 622px #fff,
    809px 1107px #fff,
    1574px 732px #fff,
    1870px 1848px #fff,
    1446px 29px #fff,
    1581px 834px #fff,
    48px 1220px #fff,
    1540px 1603px #fff,
    1496px 1183px #fff,
    1351px 1291px #fff,
    1690px 385px #fff,
    5px 180px #fff,
    1147px 894px #fff,
    1930px 33px #fff,
    1965px 164px #fff,
    1517px 1438px #fff,
    52px 943px #fff,
    1103px 1202px #fff,
    1787px 1377px #fff,
    9px 1674px #fff,
    1887px 680px #fff,
    334px 810px #fff,
    820px 36px #fff,
    1370px 1493px #fff,
    692px 706px #fff,
    861px 560px #fff,
    1989px 1518px #fff,
    1132px 1541px #fff,
    1580px 25px #fff,
    1634px 480px #fff,
    521px 1853px #fff,
    784px 1684px #fff,
    39px 1215px #fff,
    724px 487px #fff,
    1089px 1602px #fff,
    329px 1581px #fff,
    1973px 561px #fff,
    1571px 1272px #fff,
    1829px 1484px #fff,
    258px 1767px #fff,
    1814px 1351px #fff,
    1794px 1056px #fff,
    840px 1451px #fff,
    883px 911px #fff,
    1582px 637px #fff,
    258px 1069px #fff,
    1047px 703px #fff,
    1124px 563px #fff,
    1051px 760px #fff,
    1140px 987px #fff,
    1942px 931px #fff,
    1181px 807px #fff,
    1942px 944px #fff,
    898px 185px #fff,
    97px 1252px #fff,
    590px 151px #fff,
    168px 209px #fff,
    129px 1227px #fff,
    331px 1634px #fff,
    1672px 812px #fff,
    1360px 815px #fff,
    108px 1079px #fff,
    995px 658px #fff,
    1137px 576px #fff,
    1189px 1888px #fff,
    1298px 255px #fff,
    1309px 1344px #fff,
    573px 1985px #fff,
    184px 73px #fff,
    1960px 1370px #fff,
    414px 1461px #fff,
    1121px 481px #fff,
    701px 549px #fff,
    438px 619px #fff,
    1687px 1922px #fff,
    1911px 1033px #fff,
    1214px 368px #fff,
    1940px 1090px #fff,
    380px 764px #fff,
    1999px 436px #fff,
    1846px 381px #fff,
    1354px 126px #fff,
    746px 1241px #fff,
    1302px 1244px #fff,
    382px 1007px #fff,
    750px 460px #fff,
    133px 995px #fff,
    484px 1484px #fff,
    1007px 706px #fff,
    1023px 1665px #fff,
    1083px 922px #fff,
    222px 694px #fff,
    1907px 160px #fff,
    1561px 1661px #fff,
    402px 1033px #fff,
    1007px 611px #fff,
    1997px 1847px #fff,
    79px 7px #fff,
    635px 1787px #fff,
    1721px 567px #fff,
    103px 1621px #fff,
    1336px 746px #fff,
    266px 956px #fff,
    1701px 428px #fff,
    41px 746px #fff,
    239px 453px #fff,
    386px 1699px #fff,
    1211px 1868px #fff,
    179px 97px #fff,
    328px 277px #fff,
    888px 210px #fff,
    536px 1189px #fff,
    731px 382px #fff,
    1440px 1816px #fff,
    1901px 1749px #fff,
    6px 1226px #fff,
    1228px 652px #fff,
    1285px 688px #fff,
    244px 735px #fff,
    1057px 1970px #fff,
    254px 987px #fff,
    1313px 1257px #fff,
    15px 447px #fff,
    186px 1152px #fff,
    1891px 1529px #fff,
    1658px 489px #fff,
    889px 1179px #fff,
    1115px 410px #fff,
    1591px 187px #fff,
    1159px 1558px #fff,
    448px 548px #fff,
    1018px 853px #fff,
    323px 268px #fff,
    477px 1822px #fff,
    1533px 608px #fff,
    1789px 550px #fff,
    362px 1629px #fff,
    41px 397px #fff,
    1433px 354px #fff,
    1992px 1683px #fff,
    1906px 81px #fff,
    585px 1554px #fff,
    570px 1354px #fff,
    1483px 1465px #fff,
    1347px 151px #fff,
    571px 876px #fff,
    393px 1046px #fff,
    783px 529px #fff,
    1421px 1137px #fff,
    1012px 545px #fff,
    1622px 523px #fff,
    1448px 1221px #fff,
    1254px 1913px #fff,
    1312px 1264px #fff,
    1546px 1439px #fff,
    1548px 263px #fff,
    359px 1763px #fff,
    1454px 1300px #fff,
    254px 1043px #fff,
    1505px 567px #fff,
    361px 979px #fff,
    1779px 718px #fff,
    1552px 1974px #fff,
    1909px 1064px #fff,
    1498px 1018px #fff,
    121px 161px #fff,
    570px 1667px #fff,
    165px 738px #fff,
    1417px 820px #fff,
    724px 1299px #fff,
    866px 1524px #fff,
    703px 1381px #fff,
    1841px 1024px #fff,
    1729px 1570px #fff,
    1934px 399px #fff,
    1008px 81px #fff,
    497px 1085px #fff,
    401px 902px #fff,
    1985px 1272px #fff,
    1883px 1648px #fff,
    513px 1238px #fff,
    1818px 1096px #fff,
    333px 1530px #fff,
    614px 1645px #fff,
    1211px 376px #fff,
    62px 1689px #fff,
    180px 160px #fff,
    1043px 1713px #fff,
    660px 234px #fff,
    1555px 950px #fff,
    1399px 1184px #fff,
    1429px 1281px #fff,
    1918px 1413px #fff,
    45px 598px #fff,
    821px 649px #fff,
    146px 1455px #fff,
    396px 1425px #fff,
    594px 602px #fff,
    571px 322px #fff,
    1030px 1355px #fff,
    1563px 507px #fff,
    1905px 1331px #fff,
    1665px 982px #fff,
    1723px 1380px #fff,
    1162px 219px #fff,
    1344px 598px #fff,
    1132px 683px #fff,
    1688px 830px #fff,
    1345px 1322px #fff,
    1303px 792px #fff,
    1052px 912px #fff,
    549px 299px #fff,
    361px 303px #fff,
    1304px 1544px #fff,
    473px 947px #fff,
    779px 509px #fff,
    1452px 326px #fff,
    1102px 608px #fff,
    969px 710px #fff,
    1436px 997px #fff,
    1926px 219px #fff,
    1243px 636px #fff,
    354px 881px #fff,
    1835px 531px #fff,
    664px 406px #fff,
    718px 1751px #fff,
    913px 1998px #fff,
    1341px 1106px #fff,
    1378px 111px #fff,
    229px 1931px #fff,
    58px 19px #fff,
    1386px 500px #fff,
    1487px 904px #fff,
    651px 1710px #fff,
    301px 206px #fff,
    674px 736px #fff,
    1507px 1516px #fff,
    574px 1139px #fff,
    632px 638px #fff,
    924px 816px #fff,
    479px 151px #fff,
    313px 1451px #fff,
    967px 967px #fff,
    1514px 442px #fff,
    618px 1840px #fff,
    60px 858px #fff,
    70px 569px #fff,
    1542px 61px #fff,
    1563px 1201px #fff,
    507px 1020px #fff,
    1162px 247px #fff,
    801px 17px #fff,
    450px 1263px #fff,
    1px 1182px #fff,
    896px 1726px #fff,
    868px 1324px #fff,
    752px 1107px #fff,
    419px 184px #fff,
    1246px 842px #fff,
    777px 1149px #fff,
    226px 1599px #fff,
    1541px 923px #fff,
    246px 1729px #fff,
    1899px 599px #fff,
    993px 150px #fff,
    1387px 945px #fff,
    519px 1850px #fff,
    685px 761px #fff,
    544px 1739px #fff,
    1082px 1948px #fff,
    654px 1303px #fff,
    502px 288px #fff,
    1025px 825px #fff,
    1764px 278px #fff,
    205px 569px #fff,
    1404px 1082px #fff,
    1723px 237px #fff,
    52px 722px #fff,
    667px 479px #fff,
    951px 147px #fff,
    1162px 1420px #fff,
    1996px 1550px #fff,
    1570px 1631px #fff,
    1932px 47px #fff,
    240px 689px #fff,
    141px 528px #fff,
    1340px 70px #fff,
    212px 964px #fff,
    711px 282px #fff,
    331px 794px #fff,
    54px 209px #fff,
    560px 450px #fff,
    1211px 1738px #fff,
    770px 803px #fff,
    1398px 1120px #fff,
    573px 978px #fff,
    1111px 888px #fff,
    590px 1259px #fff,
    142px 514px #fff,
    522px 902px #fff,
    976px 755px #fff,
    1788px 267px #fff,
    766px 1531px #fff,
    974px 582px #fff,
    1838px 924px #fff,
    1845px 499px #fff,
    1940px 576px #fff,
    1240px 192px #fff,
    1456px 1512px #fff,
    1440px 1634px #fff,
    479px 1468px #fff,
    407px 1153px #fff,
    1265px 1687px #fff,
    1218px 1886px #fff,
    1821px 1025px #fff,
    1615px 1897px #fff,
    1901px 1787px #fff,
    1057px 382px #fff,
    1165px 1792px #fff,
    1601px 1322px #fff,
    1471px 687px #fff,
    122px 1066px #fff,
    617px 1652px #fff,
    525px 897px #fff,
    316px 1579px #fff,
    1770px 1483px #fff,
    409px 1452px #fff,
    375px 861px #fff,
    1253px 1151px #fff,
    861px 431px #fff,
    1738px 1816px #fff,
    15px 211px #fff,
    1538px 588px #fff,
    1431px 1297px #fff,
    462px 448px #fff,
    1329px 1134px #fff,
    1281px 1900px #fff,
    509px 1650px #fff,
    325px 36px #fff,
    1929px 1940px #fff,
    1096px 181px #fff,
    592px 1706px #fff,
    1275px 1709px #fff,
    89px 1064px #fff,
    132px 837px #fff,
    1652px 261px #fff,
    1907px 216px #fff,
    1245px 663px #fff,
    217px 368px #fff,
    477px 863px #fff,
    1439px 1177px #fff,
    620px 920px #fff,
    335px 1379px #fff,
    1894px 1585px #fff,
    1189px 292px #fff,
    722px 1855px #fff,
    375px 1410px #fff,
    650px 324px #fff,
    1224px 1771px #fff,
    912px 950px #fff,
    1613px 1184px #fff,
    446px 696px #fff,
    679px 1373px #fff,
    812px 1821px #fff,
    246px 587px #fff,
    95px 518px #fff,
    54px 1502px #fff,
    1763px 886px #fff,
    1053px 750px #fff,
    152px 602px #fff,
    1039px 1660px #fff,
    1796px 399px #fff,
    823px 392px #fff,
    643px 1732px #fff,
    60px 1693px #fff,
    1979px 556px #fff,
    804px 111px #fff,
    28px 962px #fff,
    994px 1734px #fff,
    717px 1431px #fff,
    564px 317px #fff,
    316px 485px #fff,
    1291px 1177px #fff,
    1011px 1824px #fff,
    1953px 835px #fff,
    1201px 1685px #fff,
    478px 713px #fff,
    1136px 1932px #fff,
    946px 1925px #fff,
    1653px 523px #fff,
    287px 1090px #fff,
    1981px 1210px #fff,
    1600px 933px #fff,
    1064px 323px #fff,
    1861px 941px #fff,
    1289px 1006px #fff,
    321px 639px #fff,
    1310px 1606px #fff,
    198px 1642px #fff,
    1624px 1570px #fff,
    1175px 1529px #fff,
    345px 1462px #fff,
    501px 1480px #fff,
    1100px 1690px #fff,
    1527px 473px #fff,
    816px 1044px #fff,
    755px 1027px #fff,
    415px 1205px #fff,
    1849px 577px #fff,
    399px 610px #fff,
    433px 939px #fff,
    164px 1030px #fff,
    1077px 676px #fff,
    1760px 92px #fff,
    1035px 1401px #fff,
    1685px 494px #fff,
    394px 61px #fff,
    1641px 161px #fff,
    234px 603px #fff,
    1469px 1792px #fff,
    753px 568px #fff,
    157px 945px #fff,
    724px 683px #fff,
    927px 127px #fff,
    1981px 1797px #fff,
    1658px 282px #fff,
    806px 574px #fff,
    101px 429px #fff,
    576px 531px #fff,
    1567px 784px #fff,
    185px 1053px #fff,
    78px 711px #fff,
    1203px 1593px #fff,
    576px 1421px #fff,
    586px 1192px #fff,
    1689px 1152px #fff,
    1047px 453px #fff,
    298px 757px #fff,
    791px 271px #fff,
    1619px 1157px #fff,
    214px 1996px #fff,
    527px 1183px #fff,
    508px 266px #fff,
    872px 1805px #fff,
    1109px 1540px #fff,
    1310px 691px #fff,
    1702px 426px #fff,
    479px 1286px #fff,
    931px 894px #fff,
    1690px 243px #fff,
    395px 779px #fff,
    1437px 1686px #fff,
    116px 398px #fff,
    9px 1184px #fff,
    905px 1394px #fff,
    1942px 595px #fff,
    491px 633px #fff,
    243px 1565px #fff,
    1924px 309px #fff,
    1308px 1592px #fff,
    1206px 993px #fff,
    215px 375px #fff,
    1635px 178px #fff,
    1301px 1096px #fff,
    715px 1521px #fff,
    1386px 1330px #fff,
    1634px 1114px #fff,
    1632px 1752px #fff,
    87px 564px #fff,
    735px 37px #fff,
    902px 77px #fff,
    1809px 1133px #fff,
    889px 970px #fff,
    1212px 935px #fff,
    891px 862px #fff,
    85px 919px #fff,
    1936px 954px #fff,
    532px 1475px #fff,
    1499px 65px #fff,
    309px 1869px #fff,
    1167px 1689px #fff,
    1492px 1799px #fff,
    89px 931px #fff,
    670px 1800px #fff,
    1512px 1129px #fff,
    10px 1973px #fff,
    408px 1596px #fff,
    1486px 364px #fff,
    838px 1412px #fff,
    807px 1607px #fff,
    1305px 1552px #fff,
    349px 893px #fff,
    1324px 1710px #fff,
    178px 1096px #fff,
    30px 384px #fff,
    240px 561px #fff,
    687px 817px #fff,
    1372px 127px #fff,
    1516px 1678px #fff,
    1036px 420px #fff,
    874px 225px #fff,
    946px 725px #fff,
    50px 1324px #fff,
    1347px 1803px #fff,
    1202px 207px #fff,
    1043px 496px #fff,
    800px 294px #fff,
    1047px 720px #fff,
    1202px 1483px #fff,
    682px 799px #fff,
    169px 1075px #fff,
    623px 1821px #fff,
    1215px 1914px #fff,
    377px 1303px #fff,
    1728px 1892px #fff,
    1573px 242px #fff,
    507px 1109px #fff,
    1876px 528px #fff,
    289px 1792px #fff,
    719px 1046px #fff,
    1887px 451px #fff,
    202px 1884px #fff,
    845px 1862px #fff,
    1658px 1152px #fff,
    98px 1285px #fff,
    1556px 1318px #fff,
    1742px 183px #fff,
    1415px 1541px #fff,
    1475px 1590px #fff,
    1263px 1507px #fff,
    791px 1625px #fff,
    236px 1353px #fff,
    568px 1540px #fff,
    1342px 1641px #fff,
    1515px 1636px #fff,
    959px 704px #fff,
    1609px 1059px #fff,
    1917px 1190px #fff,
    1952px 1855px #fff,
    90px 1943px #fff,
    75px 723px #fff,
    647px 1598px #fff,
    1458px 1279px #fff,
    1204px 811px #fff,
    346px 1360px #fff,
    1849px 339px #fff,
    1034px 381px #fff,
    517px 1819px #fff,
    1143px 184px #fff,
    694px 1518px #fff,
    361px 1273px #fff;
  animation: animStar 50s linear infinite;
}
#stars1::after { top: 2000px; }

#stars2, #stars2::after {
  content: "";
  position: absolute;
  top: 0;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1867px 1602px #fff,
    566px 1654px #fff,
    370px 1586px #fff,
    1337px 1819px #fff,
    1546px 1615px #fff,
    1344px 1180px #fff,
    1078px 175px #fff,
    1500px 163px #fff,
    357px 1235px #fff,
    1468px 609px #fff,
    1169px 1861px #fff,
    1927px 191px #fff,
    531px 827px #fff,
    276px 1686px #fff,
    1954px 1413px #fff,
    345px 1293px #fff,
    1754px 1436px #fff,
    1017px 160px #fff,
    174px 408px #fff,
    1216px 1903px #fff,
    1119px 1923px #fff,
    405px 553px #fff,
    434px 689px #fff,
    1053px 1497px #fff,
    1411px 1518px #fff,
    1010px 1015px #fff,
    1383px 1995px #fff,
    1965px 610px #fff,
    632px 1158px #fff,
    1232px 579px #fff,
    1341px 933px #fff,
    951px 838px #fff,
    1413px 1822px #fff,
    1336px 1659px #fff,
    262px 838px #fff,
    26px 1548px #fff,
    1035px 465px #fff,
    61px 1113px #fff,
    279px 984px #fff,
    93px 1123px #fff,
    1216px 1099px #fff,
    285px 1353px #fff,
    781px 1994px #fff,
    1795px 48px #fff,
    579px 449px #fff,
    954px 1471px #fff,
    132px 388px #fff,
    1395px 348px #fff,
    786px 903px #fff,
    1474px 1661px #fff,
    262px 1721px #fff,
    773px 916px #fff,
    1819px 960px #fff,
    1230px 1121px #fff,
    993px 1271px #fff,
    776px 1805px #fff,
    67px 1515px #fff,
    1016px 1867px #fff,
    1522px 1364px #fff,
    964px 213px #fff,
    486px 86px #fff,
    1476px 448px #fff,
    722px 779px #fff,
    1613px 1442px #fff,
    1360px 124px #fff,
    507px 1191px #fff,
    1418px 235px #fff,
    302px 1072px #fff,
    642px 1969px #fff,
    568px 1876px #fff,
    764px 814px #fff,
    1242px 1873px #fff,
    1661px 1140px #fff,
    49px 1408px #fff,
    538px 1024px #fff,
    227px 796px #fff,
    729px 167px #fff,
    263px 511px #fff,
    570px 239px #fff,
    878px 679px #fff,
    1442px 1109px #fff,
    1906px 1680px #fff,
    729px 1314px #fff,
    670px 277px #fff,
    1486px 1659px #fff,
    1807px 1024px #fff,
    63px 890px #fff,
    1528px 1383px #fff,
    788px 503px #fff,
    537px 1000px #fff,
    807px 1561px #fff,
    1238px 371px #fff,
    1385px 93px #fff,
    1440px 821px #fff,
    782px 1294px #fff,
    1053px 1852px #fff,
    1680px 552px #fff,
    1348px 1011px #fff,
    126px 1576px #fff,
    1217px 1430px #fff,
    751px 1968px #fff,
    1458px 670px #fff,
    1563px 351px #fff,
    1446px 1008px #fff,
    1052px 942px #fff,
    1796px 1691px #fff,
    1308px 972px #fff,
    1468px 660px #fff,
    163px 1231px #fff,
    947px 1569px #fff,
    645px 1303px #fff,
    1718px 593px #fff,
    1025px 1518px #fff,
    1906px 1967px #fff,
    1497px 1218px #fff,
    451px 465px #fff,
    1369px 1826px #fff,
    480px 487px #fff,
    1119px 1941px #fff,
    1079px 909px #fff,
    1782px 1750px #fff,
    1067px 1626px #fff,
    1111px 24px #fff,
    877px 1811px #fff,
    758px 1136px #fff,
    1110px 1324px #fff,
    1173px 1909px #fff,
    1392px 900px #fff,
    878px 247px #fff,
    1803px 34px #fff,
    956px 1303px #fff,
    587px 19px #fff,
    1886px 922px #fff,
    49px 39px #fff,
    503px 1030px #fff,
    71px 541px #fff,
    1819px 1187px #fff,
    1369px 494px #fff,
    1600px 986px #fff,
    1849px 876px #fff,
    1748px 1769px #fff,
    404px 336px #fff,
    1434px 1211px #fff,
    1851px 1649px #fff,
    591px 644px #fff,
    1108px 1113px #fff,
    400px 436px #fff,
    991px 1423px #fff,
    793px 1760px #fff,
    1917px 388px #fff,
    1913px 939px #fff,
    249px 1748px #fff,
    70px 982px #fff,
    916px 1855px #fff,
    406px 892px #fff,
    400px 629px #fff,
    104px 863px #fff,
    873px 1881px #fff,
    378px 1835px #fff,
    1882px 803px #fff,
    1156px 1332px #fff,
    594px 797px #fff,
    507px 1577px #fff,
    1728px 872px #fff,
    343px 1599px #fff,
    1786px 61px #fff,
    755px 500px #fff,
    1034px 1623px #fff,
    1540px 1692px #fff,
    1886px 249px #fff,
    802px 864px #fff,
    990px 1662px #fff,
    1593px 1408px #fff,
    364px 771px #fff,
    1732px 1140px #fff,
    679px 573px #fff,
    461px 697px #fff,
    1184px 1385px #fff,
    1569px 1591px #fff,
    1976px 327px #fff,
    699px 558px #fff,
    789px 1379px #fff,
    856px 1978px #fff,
    605px 566px #fff,
    1101px 1425px #fff,
    1551px 1121px #fff,
    138px 903px #fff,
    1350px 148px #fff,
    1053px 76px #fff,
    1580px 719px #fff,
    1342px 845px #fff,
    559px 1762px #fff,
    347px 408px #fff,
    1224px 1751px #fff,
    1939px 982px #fff,
    1830px 542px #fff,
    1593px 1885px #fff,
    1824px 1549px #fff,
    167px 1696px #fff,
    1069px 936px #fff,
    520px 1663px #fff,
    1496px 1751px #fff,
    248px 502px #fff,
    211px 1997px #fff,
    1158px 945px #fff,
    1249px 1711px #fff,
    1521px 1187px #fff,
    930px 1649px #fff,
    105px 1013px #fff,
    473px 43px #fff,
    990px 186px #fff,
    442px 617px #fff,
    2000px 231px #fff,
    633px 1079px #fff,
    389px 323px #fff,
    608px 1637px #fff,
    103px 84px #fff,
    408px 197px #fff,
    1680px 1042px #fff,
    491px 988px #fff,
    1212px 1861px #fff,
    267px 968px #fff,
    1110px 1718px #fff,
    1985px 40px #fff,
    530px 1916px #fff,
    1768px 1123px #fff,
    1333px 1232px #fff,
    730px 1789px #fff,
    1597px 1481px #fff,
    920px 941px #fff,
    1753px 1929px #fff,
    43px 75px #fff,
    1257px 996px #fff,
    1023px 1828px #fff,
    788px 85px #fff,
    952px 294px #fff,
    782px 4px #fff,
    1661px 1866px #fff,
    1441px 15px #fff,
    311px 549px #fff,
    1707px 140px #fff,
    1434px 1864px #fff,
    423px 939px #fff,
    1772px 1853px #fff,
    1997px 1941px #fff,
    393px 1261px #fff,
    1361px 1651px #fff,
    898px 975px #fff,
    1161px 29px #fff,
    1517px 1174px #fff,
    1121px 716px #fff,
    831px 705px #fff,
    799px 1730px #fff,
    22px 414px #fff,
    1866px 1311px #fff,
    717px 1170px #fff,
    1993px 909px #fff,
    1154px 467px #fff,
    591px 1537px #fff,
    1763px 839px #fff,
    397px 552px #fff,
    491px 187px #fff,
    1754px 718px #fff,
    124px 697px #fff,
    1474px 1290px #fff,
    1318px 109px #fff,
    113px 923px #fff,
    1115px 959px #fff,
    1523px 1452px #fff,
    912px 1283px #fff,
    1326px 1571px #fff,
    1175px 959px #fff,
    1500px 209px #fff,
    1161px 1649px #fff,
    1507px 1293px #fff,
    753px 246px #fff,
    526px 186px #fff,
    1783px 81px #fff,
    1692px 1310px #fff,
    281px 377px #fff,
    1843px 745px #fff,
    858px 395px #fff,
    1224px 1794px #fff,
    1378px 60px #fff,
    1801px 828px #fff,
    1974px 1026px #fff,
    909px 163px #fff,
    829px 1743px #fff,
    1380px 775px #fff,
    1617px 402px #fff,
    1753px 1034px #fff,
    190px 672px #fff,
    1019px 385px #fff,
    1237px 43px #fff,
    327px 1667px #fff,
    965px 868px #fff,
    433px 1088px #fff,
    1122px 1956px #fff,
    500px 6px #fff,
    313px 1141px #fff;
  animation: animStar 100s linear infinite;
}
#stars2::after { top: 2000px; }

#stars3, #stars3::after {
  content: "";
  position: absolute;
  top: 0;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 231px 1866px #fff,
    1521px 1319px #fff,
    1081px 128px #fff,
    744px 358px #fff,
    1036px 721px #fff,
    1981px 25px #fff,
    49px 490px #fff,
    1716px 393px #fff,
    891px 1208px #fff,
    1949px 1519px #fff,
    519px 555px #fff,
    131px 1680px #fff,
    1914px 1360px #fff,
    296px 331px #fff,
    1163px 1047px #fff,
    1598px 573px #fff,
    265px 1499px #fff,
    1896px 1361px #fff,
    925px 1218px #fff,
    1024px 1904px #fff,
    1992px 1640px #fff,
    951px 1559px #fff,
    1988px 762px #fff,
    1141px 1172px #fff,
    53px 700px #fff,
    621px 1644px #fff,
    524px 1196px #fff,
    503px 636px #fff,
    1618px 439px #fff,
    1147px 1683px #fff,
    607px 1988px #fff,
    292px 1409px #fff,
    1822px 785px #fff,
    925px 233px #fff,
    499px 311px #fff,
    79px 1793px #fff,
    1096px 14px #fff,
    1605px 1019px #fff,
    1713px 976px #fff,
    1294px 552px #fff,
    1479px 587px #fff,
    933px 1213px #fff,
    1895px 1982px #fff,
    775px 1996px #fff,
    310px 1539px #fff,
    141px 1249px #fff,
    625px 1029px #fff,
    972px 1873px #fff,
    702px 193px #fff,
    223px 1047px #fff,
    456px 1908px #fff,
    1871px 1740px #fff,
    826px 890px #fff,
    671px 1430px #fff,
    1442px 930px #fff,
    797px 695px #fff,
    1557px 1945px #fff,
    320px 908px #fff,
    590px 490px #fff,
    254px 1080px #fff,
    973px 1977px #fff,
    1982px 1437px #fff,
    1601px 1022px #fff,
    346px 325px #fff,
    1404px 172px #fff,
    1392px 892px #fff,
    107px 1027px #fff,
    1624px 202px #fff,
    1799px 657px #fff,
    467px 1827px #fff,
    304px 1823px #fff,
    527px 157px #fff,
    1024px 1216px #fff,
    1572px 1866px #fff,
    1093px 1680px #fff,
    588px 732px #fff,
    208px 1349px #fff,
    1091px 29px #fff,
    53px 956px #fff,
    1320px 1660px #fff,
    1493px 1744px #fff,
    1217px 1195px #fff,
    843px 1505px #fff,
    1348px 1471px #fff,
    1823px 1798px #fff,
    1657px 1236px #fff,
    1290px 283px #fff,
    1208px 901px #fff,
    501px 814px #fff,
    1713px 788px #fff,
    491px 849px #fff,
    337px 1694px #fff,
    379px 340px #fff,
    873px 254px #fff,
    224px 1932px #fff,
    329px 1464px #fff,
    589px 1819px #fff,
    1865px 1855px #fff,
    324px 446px #fff,
    51px 969px #fff,
    1765px 1645px #fff,
    1322px 1077px #fff,
    1277px 204px #fff,
    1051px 16px #fff,
    805px 77px #fff,
    1256px 1616px #fff,
    675px 1946px #fff,
    1181px 1961px #fff,
    1500px 1401px #fff,
    58px 1663px #fff,
    619px 280px #fff,
    795px 1569px #fff,
    646px 1600px #fff,
    474px 512px #fff,
    1076px 563px #fff,
    325px 1490px #fff,
    1992px 1162px #fff,
    1398px 1320px #fff,
    1236px 621px #fff,
    1501px 976px #fff,
    823px 1945px #fff,
    1022px 101px #fff,
    1225px 355px #fff,
    1089px 337px #fff,
    841px 659px #fff,
    1484px 499px #fff,
    970px 28px #fff,
    197px 344px #fff,
    1753px 5px #fff,
    1510px 751px #fff,
    517px 1920px #fff,
    129px 209px #fff,
    1512px 365px #fff,
    1048px 1853px #fff,
    1584px 537px #fff,
    1266px 763px #fff,
    853px 459px #fff,
    1121px 1118px #fff,
    1854px 250px #fff,
    91px 854px #fff,
    1522px 288px #fff,
    293px 1596px #fff,
    152px 1586px #fff,
    1614px 392px #fff,
    470px 476px #fff,
    1291px 1478px #fff,
    928px 698px #fff,
    455px 1119px #fff,
    1471px 1176px #fff,
    701px 1621px #fff;
  animation: animStar 150s linear infinite;
}
#stars3::after { top: 2000px; }

@keyframes animStar {
  from { transform: translateY(0); }
  to { transform: translateY(-2000px); }
}
