<div class="relative h-screen overflow-hidden bg-radial from-stone-800 to-black flex items-center justify-center">
  <!-- Text -->
  <p class="text-5xl tracking-[.3em] font-light bg-gradient-to-br from-stone-50 to-stone-700 bg-clip-text text-transparent z-10 relative">
    REȘTEA
  </p>

</div>
